{% extends "_base.html" %}

{% block content %}
	<center>
		<h4>About us</h4>
	<div style="background: transparent;width: 40%;">
		<p align="justify">
			This site is used to create a platform for users to <b>Share</b> their knowledge, <b>Bulid</b> their ideas and <b>Learn</b> from peers. Here you can ask and answer questions, comment and vote for answers of others. Both questions and answers can be revised and improved. Questions can be tagged with the relevant keywords to simplify future access.
			Edit permissions for question or answer or comment are provided to the user who posted it.
			Administrator can delete a post if he finds a irrelevant question.
			Users profile is maintained to show the user's contribution to this Site.
		</p>
	</div>
	</center>
{% endblock %}