{% extends "_base.html" %}

{% block content %}
<center>
    <table style="text-align:center;background-color:#E5EBF8">
        <tr>
        <th>UserName</th>
        <th>Member Since</th>
        <th>Last Seen</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'ForumsApp:getaUser' user.id%}">{{user.username}}</a></td>
            <td>{{user.date_joined}}</td>
            <td>{{user.last_login}}</td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}