{% extends "_base.html" %}

{% block content %}

<center>
    <table style="text-align:center;background-color:#E5EBF8">
        <tr>
            <th>Question</th>
            <th>User who posted</th>
        </tr>
        {% for question in data %}
        <tr>
            <td><a href="{% url 'ForumsApp:answer'  question.question_id %}">{{question.question_id__title}}</a></td>
            <td>{{question.username__username}}</td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}